<div class="header">
  <div class="header__links">
    <a routerLink="about" class="logo">
      <img class="logo__img" src="../../../assets/logo.png" alt="">
    </a>

    <a routerLink="content/manicure" routerLinkActive="link_active" class="link">Маникюр</a>
    <a routerLink="content/pedicure" routerLinkActive="link_active" class="link">Педикюр</a>
    <a routerLink="content/brows" routerLinkActive="link_active" class="link">Брови</a>
    <a routerLink="content/eyelashes" routerLinkActive="link_active" class="link">Ресницы</a>
    <a routerLink="price" routerLinkActive="link_active" class="link">Цены</a>
    <a routerLink="about" routerLinkActive="link_active" class="link">О нас</a>
  </div>

  <div routerLink="account" class="header__auth"></div>
</div>
