@import '../../../colors.scss';

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1.5rem;
  box-shadow: 0 7px 10px 0 rgba(black, .6);
  background: $pink;
  color: $gray;

  &__links{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      height: 50px;
      width: 50px;
      margin-right: 1.5rem;

      &__img {
        width: 100%;
        height: 100%;
      }
    }

    .link {
      cursor: pointer;
      text-decoration: none;
      margin-right: 1rem;
      transition: .4s;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 3px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray;
      font-size: 1.2rem;
      font-weight: 300;

      &:hover {
        color: rgba($gray, .6);
        text-shadow: 4px 4px 5px rgba(white,.3);
      }

      &_active {
        border-bottom: 3px solid $green;
      }
    }
  }

  &__auth {
    width: 32px;
    height: 35px;
    background-image: url('../../../assets/user.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
}
