<div class="wrapper">

  <div class="modal">
    <div class="close"></div>

    <form novalidate [formGroup]="confirmForm" class="form">

      <div class="form__item">
        <span class="form__item-name">Имя:</span>
        <input type="text" formControlName="name" class="form__item-field">
      </div>


      <div class="form__item">
        <span class="form__item-name">Телефон:</span>
        <input type="text" formControlName="phone" class="form__item-field">
      </div>

      <input type="submit" value="Подтвердить" class="form__item-submit">

    </form>
  </div>

</div>
