@import '../../../colors.scss';

.masters {
  border: 1px solid black;
  padding: 5px;

  &__item {
    padding: 10px 20px;
    border: 1px solid lightgray;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.calendar {
  width: 80%;
}

.orders {
  width: 80%;

  .orders-content {
    display: flex;
    margin-top: 15px;
  }

  &__table {
    border: 1px solid black;
    padding: 5px;
    width: 40%;
    min-width: 300px;
    margin-right: 20px;

    &-item {
      background: $light-gray;
      transition: .2s;
      padding: 10px 20px;
      box-sizing: border-box;
      cursor: pointer;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background: rgba($green, .7);
      }

      &_reserved {
        background: $pink !important;
        cursor: not-allowed;
      }

      &_active {
        background: $green !important;
      }
    }
  }

  &__options {
    display: flex;

    &-list {
      width: 300px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;


      .cart {
        width: 90%;
        min-height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: .4s;

        &_empty {
          box-shadow: 0 0 10px 1px black;
        }

        &__img {
          width: 200px;
          position: absolute;
          left: calc(50% - 105px);
        }

        &__list {
          width: 100%;
          height: 100%;
          padding: 15px 0 15px 35px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
        }

      }

      &-item {
        width: 100%;
        margin-bottom: 5px;
        border: 1px solid red;
        padding: 7px 10px;
        box-sizing: border-box;
        cursor: move;
        user-select: none;
        position: relative;
        z-index: 2;
      }
    }
  }
}

.back-button {
  border-radius: 4px;
  cursor: pointer;
  background: $gray;
  color: white;
  font-weight: bold;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}


.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
