<div class="page">
  <h1>Content</h1>

  <div class="masters" @fade *ngIf="isMastersState">
    <div (click)="selectMaster(master)" class="masters__item" *ngFor="let master of masters">{{ master.name }}</div>
  </div>


  <div @fade *ngIf="isCalendarState" class="calendar">
    <div (click)="goBack()" class="back-button">Назад</div>
    <div>{{ selectedMaster.name }}</div>

    <ngx-fullcalendar (onDateClick)="onDateSelect($event)" defaultView="month" [events]="events" [options]="options">
    </ngx-fullcalendar>
  </div>

  <div class="orders" @fade *ngIf="isOrdersState">
    <div (click)="goBack()" class="back-button">Назад</div>

    <div class="orders-content">

      <div class="orders__table">
        <div class="orders__table-item" (click)="selectTime(item)" [class.orders__table-item_active]="getIsActive(item)"
          [class.orders__table-item_reserved]="item.is_reserved" *ngFor="let item of schedule">
          {{ item.time | appSchedulePipe }}</div>
      </div>

      <div class="orders__options" *ngIf="selectedSchedule">

        <div class="orders__options-list" [style.display]="isCanSelectOptions ? 'flex' : 'none'" cdkDropList [cdkDropListData]="workOptions" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList"
          (cdkDropListDropped)="drop($event)">
          <div class="orders__options-list-item" *ngFor="let option of workOptions" cdkDrag>{{ option.name }}</div>
        </div>

        <div class="orders__options-list">

          <span>{{ selectedMaster.name }}</span>
          <span>Запись на  услугу: {{ type | appServiceNamePipe }} {{ selectedDate }} на {{ selectedSchedule?.time | appSchedulePipe }}</span>
          <br>

          <div class="cart" [style.display]="isCanSelectOptions ? 'flex' : 'none'" [class.cart_empty]="!isHaveSelectedOptions" cdkDropList [cdkDropListData]="selectedOptions" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList"
            (cdkDropListDropped)="drop($event)">

            <img class="cart__img" *ngIf="!isHaveSelectedOptions" src="assets/cart-arrow-down-solid.svg" alt="cart">

            <ul class="cart__list" *ngIf="isHaveSelectedOptions">
              <li class="cart__list-item" *ngFor="let option of selectedOptions" cdkDrag>{{ option.name }}</li>
            </ul>

          </div>


          <button (click)="confirmOrder()">Подтвердить заказ</button>
          <span>{{ totalSumm }}руб.</span>

        </div>
      </div>

    </div>

  </div>

</div>


