@import '../../../colors.scss';

.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, .6);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    background-color: white;
    position: relative;
    padding: 5px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__close {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: white;
      border: 1px solid $gray;
      right: -20px;
      top: -20px;
      box-sizing: border-box;

      &-img {
        width: 30px;
        height: 30px;
      }
    }

    .title {
      text-align: center;
      color: $gray;
      margin-bottom: 20px;
    }

    .field {
      width: 300px;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      &__name {
        font-style: italic;
        color: $green;
        font-size: 15px;
        margin-bottom: 5px;
      }

      &__inp {
        width: 95%;
        height: 40px;
        padding-left: 10px;
        font-size: 1.5rem;
        border: 1px solid $gray;
        outline: none;

        &_err {
          border: 1px solid red;
        }
      }

      &__errors {
        color: red;
        display: flex;
        flex-direction: column;
      }
    }

    .buttons {
      display: flex;
      width: 300px;
      justify-content: space-between;

      &__item {
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
        color: $gray;
        font-weight: bold;
        cursor: pointer;
        transition: .4s;
        height: 40px;

        &:hover {
          box-shadow: 5px 5px 7px 0 rgba(0,0,0,.6);
        }
      }
    }
  }
}
